@charset "shift_jis";

BODY {
  font-size : 13px;
  font-family : Tahoma, Verdana, sans-serif;
}


.BODY2 {
  font-size : 11pt;
  font-family : "メイリオ", sans-serif;
}

H3 {
  font-size : 16px;
  font-family : "Lucida Console",sans-serif;
}

a {
  text-decoration: none;
}

TD {
  font-size : 10pt;
  font-family : Verdana,sans-serif;
  font-weight : 600;
}

IMG {
 border-width : 1px 1px 1px 1px;border-style : solid solid solid solid;border-color : black black black black;
}
